* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background:#ffeaa7;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url('../assets/kisspng-3d-modeling-3d-computer-graphics-animation-city-model-5aab7ccc742c23.9823967015211880444759.png') repeat-x;
    
    animation: movingClouds 150s linear infinite;
    -webkit-animation: movingClouds 150s linear infinite;
    
    @keyframes movingClouds {
        from {
            background-position: 0 0;
        } to {
            background-position: -24000px 0;
        }
    }
    
    @-webkit-keyframes movingClouds {
        from {
            background-position: 0 0;
        } to {
            background-position: -24000px 0;
        }
    }
    
    #riding-bike {
        width: 30%;
        
        img {
            width: 100%;
            bottom: 0;
        }
    }
}